@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Powells Book</h1>
      <p>Get to know a few of <a href="/books">our books</a>!</p>
@Html.ActionLink("Click me!! Click meeeee!!!", "DONTCLICK", "Books")

@Html.ActionLink("Create.cshtml", "Create", "Books")
</div>

