<div id="figner" class="text-center">
  <h3> ....................../´¯/) <br />
      ....................,/¯../  <br />
      .................../..../ <br />
      ............./´¯/'...'/´¯¯`·¸ <br />
      ........../'/.../..../......./¨¯\ <br />
      ........('(...´...´.... ¯~/'...') <br />
      .........\.................'...../  <br />
      ..........''...\.......... _.·´ <br />
      ............\..............(  <br />
      ..............\.............\...</h3>
</div>

<h1>NOOOOOOOO</h1>

<h1>Y DID U CLIIIIIICK!??!</h1>
